# ==============================================================================
# Development Environment Values
# ==============================================================================

replicaCount: 1

image:
  # Replace ACCOUNT_ID with your AWS account ID
  repository: ACCOUNT_ID.dkr.ecr.ap-south-1.amazonaws.com/fastapi-eks-dev
  tag: "latest"

env:
  - name: ENVIRONMENT
    value: "development"

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

ingress:
  enabled: false

autoscaling:
  enabled: false

serviceMonitor:
  enabled: false
